<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://datacleaner.org/resources/webstart/"
	href="$outputFile">
	<information>
		<title>DataCleaner</title>
		<vendor>Human Inference</vendor>
		<homepage href="http://datacleaner.org" />
		<description>DataCleaner is the premier open source data profiling and
			data quality application. Use it to
			discover, analyze and diagnose the
			state of your data. DataCleaner works with
			almost any kind of data,
			eg. CSV files, databases, Excel spreadsheets
			and more.</description>
		<description kind="one-line">DataCleaner open source data profiler
			and data quality application.</description>
		<description kind="short">DataCleaner is the premier open source
			data quality solution.</description>
		<description kind="tooltip">DataCleaner open source data quality solution
		</description>
		<icon href="images/app-icon.png" />
		<icon kind="splash" href="images/splash.png" />
		<offline-allowed />
		<shortcut>
			<desktop />
			<menu submenu="DataCleaner" />
		</shortcut>
	</information>
	<security>
		<all-permissions />
	</security>
	<resources>
		<j2se version="1.6+" initial-heap-size="128m" max-heap-size="1024m" />
		$dependencies
	</resources>
	<application-desc main-class="$mainClass" />
</jnlp>