<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	
	<!-- Spring Security filter -->
    <filter>
  		<filter-name>springSecurityFilterChain</filter-name>
  		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- GWT no cache filter -->
    <filter>
  		<filter-name>gwtCacheControlFilter</filter-name>
  		<filter-class>org.datacleaner.monitor.server.GwtCacheControlFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>gwtCacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Ensure access to only one's own tenant in service URL -->
	<filter>
		<filter-name>tenantCheckFilter</filter-name>
		<filter-class>org.datacleaner.monitor.server.security.TenantCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>tenantCheckFilter</filter-name>
		<servlet-name>repository-browser</servlet-name>
	</filter-mapping>
	
	<!-- JSF listeners -->
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>

	<!-- Spring listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Spring config -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:context/application-context.xml</param-value>
	</context-param>

	<!-- JSF servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- Spring servlet -->
	<servlet>
		<servlet-name>repository-browser</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>repository-browser</servlet-name>
		<url-pattern>/repository/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/repository/*</url-pattern>
	</filter-mapping>
	
	<!-- Image servlet (for plugins) -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.media.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/util/img/*</url-pattern>
	</servlet-mapping>
	
	<!-- File upload servlet (for plugins) -->
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.media.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/util/upload</url-pattern>
	</servlet-mapping>

	<!-- GWT RPC servlets -->
	<servlet>
		<servlet-name>DashboardService</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.DashboardServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardService</servlet-name>
		<url-pattern>/gwtrpc/dashboardService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SchedulingService</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.SchedulingServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchedulingService</servlet-name>
		<url-pattern>/gwtrpc/schedulingService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WizardService</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.WizardServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WizardService</servlet-name>
		<url-pattern>/gwtrpc/wizardService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DescriptorService</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.DescriptorServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescriptorService</servlet-name>
		<url-pattern>/gwtrpc/descriptorService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DatastoreService</servlet-name>
		<servlet-class>org.datacleaner.monitor.server.DatastoreServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatastoreService</servlet-name>
		<url-pattern>/gwtrpc/datastoreService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
