/**
 * Major page elements
 */
body {
	text-align: center;
	margin: 0 !important;
	padding: 0px;
}

body,table td,select,button,input {
	font-family: "Open Sans", sans-serif;
	font-size: small;
}

select,button,input,textarea {
	background-color: white;
	padding: 5px 4px;
	border: 1px solid #CCC;
	border-top: 1px solid #999;
	border-radius: 2px;
	font-family: "Open Sans", sans-serif;
}

optgroup {
	font-family: "Ubuntu", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #5594DD;
	background-color: #f0f0f0;
}

option {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: black;
	background-color: white;
}

h1,h2,h3,h4,h5 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
}

a {
	color: #5594DD;
}

ul {
	list-style: square;
	margin-left: 10px;
	padding-left: 0;
}

li {
	list-style: square;
	margin-left: 10px;
	padding-left: 0px;
}

div.pageContainer {
	margin-top: 0;
}

div.pageHeader {
	background-color: #333;
	height: 114px;
}

div.pageHeader div.logo {
	margin-left: auto;
	margin-right: auto;
	width: 894px;
	height: 118px;
	display: block;
	background-image: url("images/header.png");
	background-repeat: no-repeat;
}

div.pageContent {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	width: 894px;
	text-align: left;
}

/**
 * Infographic parts
 */
.InfographicContainer {
	text-align: left;
	width: 675px;
}

.InfographicPart {
	width: 675px;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	float: none;
}

.InfographicIntro {
	background-image: url("images/infographic_top.png");
	height: 475px;
}

.InfographicIntro h1 {
	font-size: 20px;
	font-weight: normal;
	color: #666;
	display: block;
	position: relative;
	left: 20px;
	top: 20px;
}

.InfographicIntro .ScrollDownTeaser {
	font-family: 'Lobster', sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: white;
	display: block;
	position: relative;
	left: 70px;
	top: 76px;
	width: 60px;
	text-align: center;
}

.InfographicIntro .ScrollDownTeaser a {
	color: white;
	text-decoration: none;
}

.InfographicPart h2 {
	font-family: 'Lobster', sans-serif;
	font-weight: normal;
	font-size: 26px;
	color: #5594DD;
	margin: 0px;
	margin-top: 60px;
}

.InfographicPart .Description {
	color: #666;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

.InfographicEvolution {
	background-image: url("images/infographic_part_evolution.png");
	background-position: center 60px;
	height: 310px;
}

.InfographicImprove {
	background-image: url("images/infographic_part_improve.png");
	background-position: center 60px;
	height: 390px;
}

.InfographicShare {
	background-image: url("images/infographic_part_share.png");
	background-position: center 60px;
	height: 400px;
}

.InfographicConnect {
	background-image: url("images/infographic_part_connect.png");
	background-position: center 65px;
	height: 310px;
}

/**
 * Scales any img with class 'scalable_background' to become a background image of the page, scaled to the width of the window.
 */
img.scalable_background {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/*
* Navigation menu
*/
.navContainer {
	margin-top: -28px;
	margin-left: auto;
	margin-right: auto;
	width: 894px;
	height: 22px;
}

#nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-left: 110px;
}

#nav li {
	line-height: 18px;
	list-style-type: none;
	margin: 0px;
	margin-right: 10px;
	padding: 3px;
	padding-left: 4px;
	padding-right: 4px;
	float: left;
	background-color: #8E8E8E;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#nav li.selected {
	background-color: white;
}

#nav li a {
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding-left: 26px;
	background-repeat: no-repeat;
	background-position: center left;
}

#nav li.selected a {
	background-color: white;
	color: black;
}
/**
 * User panel
 */
#user_panel {
	font-family: "Ubuntu", sans-serif;
	background-image: url("images/user.png");
	background-position: 5px center;
	background-repeat: no-repeat;
	background-color: #8E8E8E;
	position: relative;
	float: right;
	height: 20px;
	line-height: 20px;
	font-size: 0.9em;
	padding-left: 30px;
	padding-right: 10px;
	color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#user_panel span.username {
	font-weight: bold;
}

#user_panel span.tenant {
	font-size: 0.8em;
}

/**
 * Footer
 */
.pageFooter {
	height: 80px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-image: url("images/login_footer_bg.png");
	background-repeat: repeat-x;
}

.pageFooter .logo {
	width: 500px;
	height: 80px;
	float: right;
	background-image: url("images/login_footer_logo.png");
	background-repeat: no-repeat;
}

/**
 * Login page
 */
.login_panel {
	position: fixed;
	top: 100px;
	left: 0px;
	background-color: #333;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 20px;
	padding-left: 50px;
	color: #eee;
	text-align: center;
	width: 300px;
	z-index: 1000;
}

h3.login_panel_header {
	text-align: left;
	background-image: url("images/user.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin: 0px;
}

.login_panel_content {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 220px;
}

.login_panel_content p {
	margin: 0px;
	padding: 0px;
}

.login_panel_content input {
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
}

.login_demo_accounts_panel {
	position: fixed;
	top: 300px;
	left: 0px;
	background-color: #ddd;
	border-bottom-right-radius: 10px;
	padding: 20px;
	padding-top: 40px; padding-left : 50px;
	color: #333;
	text-align: center;
	width: 300px;
	z-index: 900;
	padding-left: 50px;
}

.login_demo_accounts_panel ul {
	
}

/**
 * Tab headers
 */
.DashboardTabTitle {
	background-image: url("images/dashboard.png");
}

.SchedulingTabTitle {
	background-image: url("images/scheduling.png");
}

.RepositoryTabTitle {
	background-image: url("images/repository.png");
}

.DatastoresTabTitle {
	background-image: url("images/datastores.png");
}

/**
 * Shared widgets
 */
div.loader {
	width: 100%;
	background: url("images/loader.gif") no-repeat center center;
	height: 32px;
}

.blue {
	color: #5594dd;
}

.orange {
	color: #ffa800;
}

.discrete {
	color: #666;
}

.descriptionLabel {
	color: #333;
	background-color: #f4f4d3;
	padding: 4px;
	border: 1px solid #a0a0a0;
}

.descriptionLabel p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/**
 * Error dialog styling
 */
.ErrorDialog {
	text-align: left;
}

.ErrorDialog .Caption {
	
}

.ErrorDialog .dialogContent {
	width: 500px;
}

.ErrorDialog .Message {
	
}

.ErrorDialog .Details,.ErrorDialog .AdditionalMessageDetails {
	padding: 5px;
	margin: 5px;
	width: 450px;
	white-space: pre;
	background-color: #eee;
	border: 1px solid #ccc;
	height: 250px;
	overflow: auto;
}