/*
 * Popup containers
 */
div.popupPageContainer {
	margin-top: 0;
}

div.popupPageHeader {
	background-color: #222;
	height: 50px;
}

div.popupPageHeader div.logo {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	display: block;
	background-image: url("images/dc-logo-50.png");
	background-repeat: no-repeat;
}

div.popupPageContent {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: left;
}

/**
 * Infographic parts
 */
.InfographicContainer {
	text-align: left;
	width: 675px;
}

.InfographicPart {
	width: 675px;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	float: none;
}

.InfographicIntro {
	background-image: url("images/infographic_top.png");
	height: 475px;
}

.InfographicIntro h1 {
	font-size: 20px;
	font-weight: normal;
	color: #666;
	display: block;
	position: relative;
	left: 20px;
	top: 20px;
}

.InfographicIntro .ScrollDownTeaser {
	font-family: 'Muli';
	font-weight: normal;
	font-size: 22px;
	color: white;
	display: block;
	position: relative;
	left: 70px;
	top: 76px;
	width: 60px;
	text-align: center;
}

.InfographicIntro .ScrollDownTeaser a {
	color: white;
	text-decoration: none;
}

.InfographicPart h2 {
	font-family: 'Muli';
	font-weight: normal;
	font-size: 26px;
	color: #16c2f4;
	margin: 0px;
	margin-top: 60px;
}

.InfographicPart .Description {
	color: #666;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

.InfographicEvolution {
	background-image: url("images/infographic_part_evolution.png");
	background-position: center 60px;
	height: 310px;
}

.InfographicImprove {
	background-image: url("images/infographic_part_improve.png");
	background-position: center 60px;
	height: 390px;
}

.InfographicShare {
	background-image: url("images/infographic_part_share.png");
	background-position: center 60px;
	height: 400px;
}

.InfographicConnect {
	background-image: url("images/infographic_part_connect.png");
	background-position: center 65px;
	height: 310px;
}

/**
 * Shared widgets
 */
div.loader {
	width: 100%;
	min-width: 32px;
	background: url("images/loader.gif") no-repeat center center;
	height: 32px;
}

.discrete {
	color: #666;
}

.spacer {
	clear: both;
	margin-top: 10px;
}

/**
 * Error dialog styling
 */
.ErrorDialog {
	text-align: left;
}

.ErrorDialog .Caption {
	
}

.ErrorDialog .dialogContent {
	width: 500px;
}

.ErrorDialog .Message {
	
}

.ErrorDialog .Details,.ErrorDialog .AdditionalMessageDetails {
	padding: 5px;
	margin: 5px;
	width: 450px;
	white-space: pre;
	background-color: #eee;
	border: 1px solid #ccc;
	height: 250px;
	overflow: auto;
}

/**
 * Scheduling page
 */
#SchedulingPage .showFormButton, #uploadJobs input[type="submit"] {
	height: 30px!important;
	padding: 4px 6px;
	font-size: 14px;
	margin-left: 4px;
}

#SchedulingPage #uploadJobs {
	margin:0 0 10px 4px;
}

#uploadJobs input[type="file"] {
	padding: 4px 0 4px 4px;
	margin: 0;
	height: 20px;
	border:1px #ddd solid;
}

/**
 * Datastores page
 */
.datastoreList,.datastoreList li {
	list-style: none;
}

.datastoreList .datastore {
	clear: both;
	margin-bottom: 40px;
}

.datastoreList .datastore .name {
	background-image: url("images/datastore_database.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

.datastoreList .datastore.FileDatastore .name {
	background-image: url("images/datastore_file.png");
}

.datastoreList .datastore.SalesforceDatastore .name {
	background-image: url("images/datastore_salesforce.png");
}

.datastoreList .datastore.SugarCrmDatastore .name {
	background-image: url("images/datastore_sugarcrm.png");
}

.datastoreList .datastore .description {
	margin-left: 30px;
	color: #333;
	background-color: #D1D1D1;
	padding: 4px;
	border-bottom: none;
}

.datastoreList .datastore .details {
	margin-left: 30px;
	color: #333;
	padding: 4px;
	background-color: #f2f2f2;
}

.datastoreList .datastore .details .label {
	clear: both;
	display: block;
	float: left;
	width: 14%;
	display: inline;
}

.datastoreList .datastore .details .value {
	display: block;
	float: left;
	color: black;
	max-width: 85%;
}

.datastoreList .datastore .warning {
	margin-left: 10px;
	color: #ef3e6c;
}

input.RemoveButton {
	background-repeat: no-repeat;
	background-position: 4px center;
	color: #cc0000;
	min-width: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 0px;
	margin-right: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

button.LaunchButton {
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("images/launch.png") !important;
	min-width: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 28px;
	padding-right: 3px;
	margin-left: 0px;
	margin-right: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

/**
 * Repository page
 */
.timeline_popup {
	position: absolute;
	left: 0;
	background: white;
	color: black;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

button.orangeButton, input.orangeButton {
	color: #fff;
	background-color:#f0ad4e;
	border-color: #eea236;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	height:auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button.orangeButton.gwt-Button-ImageTextButton, input.orangeButton.gwt-Button-ImageTextButton {
	padding-left: 32px;
	height: 30px !important;
}

button.orangeButton:disabled, button.orangeButton:disabled, input.orangeButton:disabled, input.orangeButton:disabled {
	background-color: #ddd;
	cursor: default;
	border: 1px solid #bbb;
}

button.orangeButton:hover, input.orangeButton:hover {
	background-color:#ff9600;
	border-color: #eea236;
}