/*Import 'Ubuntu' font from Google*/
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");

/*reset all the values*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 16px;
	background: transparent;
	font-family: Ubuntu, Arial, sans-serif;
}

html,body {
	height: 100%;
}

body {
	padding: 10px;
	color: #383938;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

p {
	margin-top: 8px;
	margin-bottom: 8px;
}

a {
	color: #3E3E3E;
	text-decoration: underline;
}

img {
	max-width: 1000px;
}

ol,ul {
	list-style: circle;
	margin: 10px;
	margin-left: 30px;
	padding-left: 10px;
}

li {
	margin: 0px;
	padding: 6px;
}

li p {
	margin: 0px;
	padding: 0px;
}

ol .listitem p,ul .listitem p {
	display: block;
	margin-left: 0px;
	padding-left: 0px;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

hr {
	margin: 10px 0px 20px 0px;
}

/* remember to define focus styles! */
a:focus {
	outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-spacing: 0;
	text-align: left;
}

/* container elements */
body>div {
	margin: 0px auto;
	width: 1000px;
}

.navheader,body>div.book:first-child {
	background: #fff url("dc-logo.png") no-repeat top left;
	padding-top: 70px;
}

.navfooter {
	padding-bottom: 10px;
}

/* Table of contents (TOC) styles */
.toc {
	
}

.toc dl {
	padding: 0px;
	margin: 0px;
}

.toc a {
	text-decoration: none !important;
	font-size: 0.8em;
}

.toc .part {
	background-color: #3E3E3E;
	display: block;
	padding: 5px 5px 5px 15px;
	border-bottom: solid 2px #FFF;
	margin-top: 10px;
}

.toc .part a {
	color: #fff;
	font-weight: bold;
}

.toc .chapter {
	border: #9babbf dotted 1px;
	padding: 5px 25px;
	display: block;
	background-color: #adc6e7;
	margin-bottom: 1px;
}

.toc .chapter a {
	color: #FFF !important;
	font-weight: bold;
}

.toc .section {
	background-color: #F7F7F7;
	border-bottom: 1px solid #FFFFFF;
	display: block;
	padding: 7px 20px 7px 40px;
	text-decoration: underline !important;
}

.chapter .toc dd .section, .book .toc dd dd dd .section {
	display: none;
	visibility: hidden;
}

.toc .section a {
	color: #000000;
}

/* Title page (abstract info about the current page) */
.titlepage {
	padding-top: 20px;
	padding-bottom: 20px;
}

.titlepage .title {
	color: #5594dd;
}

.releaseinfo {
	color: #ff6600;
}

.copyright,.legalnotice {
	color: #7b7b7a;
	font-size: 0.7em;
}

.mediaobject {
	text-align: center;
}

.abstract {
	margin: 10px;
	padding: 12px;
	background-color: #eee;
	border: 1px solid silver;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("border-radius.htc");
}

.abstract .title {
	color: #ff6600;
	padding: 0px;
	margin: 0px;
}

pre.programlisting {
	clear: both;
	font-family: 'Lucida Console', monospace;
	font-size: 0.8em;
	margin: 10px;
	padding: 12px;
	background-color: #eee;
	border: 1px solid silver;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("border-radius.htc");
	white-space: pre-line;
}

.table pre.programlisting {
	background-color: white;
}

.tip {
	background-color: #adc6e7;
	background-image: url("info.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: 1px solid silver;
	padding: 12px;
	padding-left: 50px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("border-radius.htc");
}

.tip p {
	color: black;
	padding: 0px;
	padding-top: 10px;
}

.table .title {
	display: none;
	visibility: hidden;
}

.table table th {
	padding: 2px;
	background-color: #ddd;
	min-width: 200px;
	vertical-align: top;
	border: 1px solid white;
}

.table table td {
	padding: 2px;
	background-color: #eee;
	min-width: 200px;
	vertical-align: top;
	border: 1px solid white;
}

.list-of-tables {
	visibility: hidden;
	display: none;
}