/**
 * Major page elements
 */
body {
	text-align: center;
	margin: 0 !important;
}

div.pageContainer {
	margin-top: 0;
}

div.pageHeader {
	background-color: #333;
	height: 140px;
}

div.pageHeader span.logo {
	margin-left: auto;
	margin-right: auto;
	width: 894px;
	height: 118px;
	display: block;
	background-image: url("images/header.png");
	background-repeat: no-repeat;	
}

div.pageContent {
	margin-top: -32px;
	margin-left: auto;
	margin-right: auto;
	width: 894px;
	text-align: left;
}

.MainTabPanel .gwt-TabBar {
	background-color: transparent !important;
}

/**
 * Shared widgets
 */
div.loader {
	width: 100%;
	background: url("images/loader.gif") no-repeat center center;
	height: 32px;
}

/**
 * Error dialog styling
 */
.ErrorDialog {
	text-align: left;
}

.ErrorDialog .Caption {
}

.ErrorDialog .dialogContent {
	width: 500px;
}

.ErrorDialog .Message {
	
}

.ErrorDialog .Details, .ErrorDialog .AdditionalMessageDetails {
	padding: 5px;
	margin: 5px;
	width: 450px;
	white-space: pre;
	background-color: #eee;
	border: 1px solid #ccc;
	height: 250px;
	overflow: auto;
}