/**
 * Major page elements
 */
body {
	text-align: center;
	margin: 0 !important;
	padding: 0px;
}

body,table td,select,button {
	font-family: "Trebuchet MS", sans-serif;
	font-size: small;
}

a {
	color: #5594DD
}

div.pageContainer {
	margin-top: 0;
}

div.pageHeader {
	background-color: #333;
	height: 140px;
}

div.pageHeader div.logo {
	margin-left: auto;
	margin-right: auto;
	width: 894px;
	height: 118px;
	display: block;
	background-image: url("images/header.png");
	background-repeat: no-repeat;
}

div.pageContent {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 894px;
	text-align: left;
}

/*
* Navigation menu
*/
#nav {
	list-style-type: none;
	margin: 0px;
	margin-top: -2px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 894px;
	height: 22px;
}

#nav li {
	margin: 0px;
	margin-right: 10px;
	padding: 3px;
	padding-left: 4px;
	padding-right: 4px;
	float: left;
	background-color: #8E8E8E;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#nav li.selected {
	background-color: white;
}

#nav li a {
	color: white;
	text-decoration: none;
	font-family: 'Arial Unicode MS', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding-left: 26px;
	background-repeat: no-repeat;
	background-position: center left;
}

#nav li.selected a {
	background-color: white;
	color: black;
}
/**
 * User panel
 */
#user_panel {
	background-image: url("../images/user.png");
	background-position: 5px center;
	background-repeat: no-repeat;
	background-color: #8E8E8E;
	position: relative;
	float: right;
	height: 20px;
	line-height: 20px;
	font-size: 0.9em;
	padding-left: 30px;
	padding-right: 10px;
	color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#user_panel span.username {
	font-weight: bold;
}

#user_panel span.tenant {
	font-size: 0.8em;
}

/**
 * Login page
 */
.login_page_container {
	width: 100%;
	height: 100%;
	text-align: center;
}

.login_page_footer {
	height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: url("../images/login_footer_bg.png");
	background-repeat: repeat-x;
}

.login_page_footer .logo {
	width: 500px;
	height: 70px;
	float: right;
	background-image: url("../images/login_footer_logo.png");
	background-repeat: no-repeat;
}

.login_panel {
	background-color: #333;
	border-radius: 10px;
	padding: 20px;
	color: #eee;
	text-align: center;
	width: 300px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.login_panel h3 {
	background-image: url("../images/user.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	margin: 0px;
}

.login_panel_content {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 180px;
}

.login_panel_content p {
	margin: 0px;
	padding: 0px;
}

.login_panel_content input {
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
}

/**
 * Tab headers
 */
.DashboardTabTitle {
	background-image: url("images/dashboard.png");
}

.SchedulingTabTitle {
	background-image: url("images/scheduling.png");
}

.RepositoryTabTitle {
	background-image: url("images/repository.png");
}

.DatastoresTabTitle {
	background-image: url("images/datastores.png");
}

/**
 * Shared widgets
 */
div.loader {
	width: 100%;
	background: url("images/loader.gif") no-repeat center center;
	height: 32px;
}

.blue {
	color: #5594dd;
}

.orange {
	color: #ffa800;
}

.discrete {
	color: #666;
}

/**
 * Error dialog styling
 */
.ErrorDialog {
	text-align: left;
}

.ErrorDialog .Caption {
	
}

.ErrorDialog .dialogContent {
	width: 500px;
}

.ErrorDialog .Message {
	
}

.ErrorDialog .Details,.ErrorDialog .AdditionalMessageDetails {
	padding: 5px;
	margin: 5px;
	width: 450px;
	white-space: pre;
	background-color: #eee;
	border: 1px solid #ccc;
	height: 250px;
	overflow: auto;
}