/*reset all the values*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	background: transparent;
	
}
a{ text-decoration:none!important;}

body {
	background: #fff ;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
html, body {
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
a:focus {
	outline: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-spacing: 0;
}
.cleardiv {
	clear:both
}
.noborder {
	border:none!important;
	background-image:none!important;
}



.book {
	padding:10px;
	margin:10px;	
}
.book .titlepage h1.title{
	color:#F00;
	font-size:20pt;	
}
.book .titlepage h1.author{
	color:#F00;
	font-size:20pt;	
}
.toc p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16pt;
	
}
