BODY {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	background-color: #f4f4f4;
}

H1, H2, H3, H4, H5 {
 font-family: Georgia, Arial;
}

H1 {
 padding-top: 7px;
 font-size: 20px;
}

P, DIV, SPAN {
	color: #111111;
}

A {
	color: black;
}

.discrete-list {
	list-style: none;	
}

#content {
	margin: 10px;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	border-style: solid;
	border-color: #bbbbbb;
	border-width: 1px;
	background-color: white;
}

#banner {
	margin: 0px;
	padding: 0px;
	background-image: url("../images/dialog_banner_bg.png");
	background-repeat: repeat-x;
	margin: 0px;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
}

#footer {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}

#footer A {
	text-decoration: none;
}

#footer A:hover {
	text-decoration: underline;
}