body {
	background: black url("../images/login-background.jpg") no-repeat center center fixed;
	-webkit-background-size : cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}