html {
	position: relative;
	min-height: 100%;
}

body {
	background-repeat: no-repeat;
	background-color: #fff;
	color: #111;
	font-family: 'Muli', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	height: 100%;
}

div, span, p, td, th, li, h1, h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

b, strong {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: bold;
}

a {
	color: #111111;
	font-size: 1em;
}

a:hover, a:focus {
	color: #16c2f4;
}

a img {
	border: none;
}

p, li {
	margin-top: 4px;
	margin-bottom: 4px;
}

th {
	text-align: left;
	font-weight: normal;
}

td {
	padding-top: 3px;
	padding-bottom: 3px;
}

td img, li img, p img {
	vertical-align: middle;
}

blockquote, pre {
	color: #111111;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	background-color: white;
	display: block;
	overflow: auto;
	border-radius: 2px;
}

h1 {
	font-size: 1.7em;
	font-weight: normal;
}

h1, h2, h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1, h1 a {
	color: #414141;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
}

h3 {
	font-size: 1.3em;
	font-weight: normal;
}

h1 span, h2 span, h3 span {
	color: #ffa800;
	text-transform: uppercase;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: bold;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
	color: inherit;
}